---
layout: default
---

<div class="home">

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
    <ul class="post-list">
    {% assign date = currentdate %}
  {% endif %}
    <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}#article">{{ post.title }}</a></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}

</div>
